      <section>

        <article id="about-the-competition" class="content">
          <h1>About the competition</h1>
          <h2>What is the competition?</h2>
          <p>Charitable Heroes is a three-round competition. Each round of the competition requires the candidate to <strong>explore and communicate</strong> what they care about, why they care and how they plan to make a difference if empowered financially.</p>
          
          <h2>Why should I enter?</h2>
          <p>
          <ul>
          <li>Win charitable superpowers.</li>
          <li>Learn more about what matters to you and <italic> how </italic> you can help.</li>
          <li>Tell the wor your cause</li>
          </ul>
          </p>

          <h2>How it Works</h2>
          <p>Each round of the competition requires the candidate to <strong>explore and communicate</strong> what they care about, why they care and how they plan to make a difference if empowered financially.</p>
          <p>Applicant entry fees create a pool of money which  is invested and managed to never be spent down (similar to an endowment).</p>
          <p>The selection process occurs throughout the course of the competition over three rounds. During each round a judge is assigned to candidates. The submission of the candidate is scored during each round on a scale of 0-100 and feedback is provided by the judge. Candidates are eliminated after each round and one winner is chosen.
          <p>  

          <a class="more" href="https://apply.charitableheroes.org">Enter the contest!</a>
          </p>


        </article>
        <article id="entry-criteria" class="content">
          <h1>Contest Entry Criteria</h1>
          <h2>How to Enter</h2>
           <p>
            <ul>
                <li>Entrants can be any age</li>
                <li>Any entrant below the age of 18 must have a guardian to participate.</li>
            </ul>
            </p>
              <a class="more" href="https://apply.charitableheroes.org">Enter the contest!</a>
        </article>
      </article>
        
        <article id="the-selection-process" class="content">
          <h1>The Selection Process</h1>
          <h2>Round One</h2>
          <p>Charitable Heroes is colloborating with a New York venture called Ziggeo to make this a fun, sucessful round one. When it's time for round one, we will notify everyone via email to invite you to upload a two minute video telling us who you are, where you're from, and the person, cause or organization you want to help today.
            <p>

            Charitable Heroes will ask you if you are okay with us sharing your video. If so, we share your video on our YouTube channel for everyone to vote on. A combination of public votes and our judges reviews will decide who moves onto round two. A combination of Charitable Heroes founders, volunteers and judges will individually review every video submitted. A maximum of 1000 entries will move on to round two. Read more about what we are looking for here. </p>
         </p>

          <h2>Round Two</h2>
          <p>This round requires a deep dive into the cause, organization or person you desire to help. We again ask you to we provide a link for you to asnwer these questions via an online form. Our judges will invidividually review all submissions and score individauls. A maximum of 100 entrants will move onto round three.  </p>
          </p>

          <h2>Round Three</h2>
          <p>The final round will consists of multiple interviews with our judges. Only one winner will be chosen to receive charitable superpowers.</p>
          
          </p>
          <a class="more" href="https://apply.charitableheroes.org">Enter the contest!</a>
        </article>

        <article id= "The Winner" class="content">
          <h1>The Winner</h1>
          <h2>Your SuperPowers</h2>
          <p> Our competition awards one winner with "charitable superpowers" - which we define as: The ability to give away money every year, to any cause, person or ogranization where it creates a positive impact regardless of your personal financial status."

          Here is how we plant to create your charitable superpowers, we've dreamed up two scenarios, one small, the another of epic proportions. The order of magnitude of your power is determined by the number of entrants the competition finds, so we need your help! Applicant entry fees build a pool of money which is managed to never be spent down (similar to an endowment).<p>

          Our first milestone is to reach 775 entrants or raise roughly $23,000. If this occurs the winner will have the ability to give away $500 every year for the rest of their lives. <p> 

          To reach legend status we need to gather 50,000 people to the competition, raising roughly 1.5M. If we hit this goal, the charitable hero will have the ability to give away $30,000 every year for the rest of their lives. Imagine the people or organizations you could help with that kind of power? Who would you help? What changes would you make to your community? 
          
          In either case, we are excited to empower one winner financially, and to empower everyone else with a deeper knowledge of what matters to them, and how they can make a difference.  </p>

        
        </article>

      
        </article>
        <article id="the-supporting-characters" class="content">
          <h1>The Supporting Characters</h1>
          <h2>2014 Judges</h2>
          <p>We have secured six high quality judges to date. More information about each one is coming soon; each was carefully chosen based on their history of leadership and impact.</p>

          <h2>Founders</h2>
          <p>The founders of the Charitable Heroes Competition are Mike Hurley, Matt Stelmaszek and the one-and-only Mark Spiegel. We will provide our back stories and some beautiful mug shots soon.</p>
          
          <h2>Sponsors</h2>
          <p>We have been fortunate to have sponsors for Charitable Heroes right from the begginging. These organizations include Localstake, Wormser Legal and the Pour House Cafe. We choose each sponsor carefully and we invite you to click the link on each name to learn more about how they postively impact their communities.</p>

          <h2>Advisors</h2>
          <p>It's true. We are on the hunt for people who are willing to share their experience and expertise for 2014. If you're interested, please reach out via our contact form. Thank you!</p>
          
          </p>
          <a class="more" href="http://www.charitableheroes.org/contact.html">Contact Us</a>
        </article>

          <article id="About Charitable Heroes, L3C" class="content">
          <h1>Charitable Heroes, L3C</h1>
          
          <h2>Who We Are</h2>
          <p>Charitable Heroes, L3C is a <a href="http://en.wikipedia.org/wiki/Social_enterprise"> social enterprise </a> based in Indianapolis. We're registered in the great state of Wyoming as a <a href="http://en.wikipedia.org/wiki/L3C"> Low-Profit, Limited Liability Company (L3C). </a> </p> 
          
          <h2>Our Mission</h2>
          <p>
            <ul>
                <li>Educate competition entrants with a deeper knowledge of what matters to them and how they can help.</li>
                <li>Empower one person with life-long financial power.</li>
                <li>Expand how we evaluate philanthropy.</li>
            </ul>
            </p>
        
        </article>

      </section>
  </body>
</html>