<section>
  <article class="content">
    <h1>Frequent Questions</h1>
    
    <h2>Is Charitable Heroes a nonprofit?</h2>
    <p>No. Charitable Heroes is a social enterprise registered as a L3C (low-profit, limitied liability company) in the great state of Wyoming. But all of the founders live in Indiana, and we conduct our business from the Hoosier state.</p>
    
    <h2>When do you charge my credit card?</h2>
    <p>With our current setup, your credit card is charged immediately. <a href="https://stripe.com/"> Stripe </a> is currently used for our payment processing needs. </p>
    
    <h2>What happens to my entry fee?</h2>
    <p>At this time, Charitable Heroes, L3C holds your entry fee in our bank account. Our site is still undergoing development. We plan to move to a format pioneered by <a href="http://selfstarter.us/">Selfstarter </a> which will allow us to take registerations by entrants, but not charge anyone's credit card until we have met our goal for participation. This is coming soon.</p>
    
    <h2>When will the winner be choosen?</h2>
    <p>Currently, we are planning to announce the winner in December of 2014. We believe that a year of judging will be required to give each entrant a good look. Please note, we reserve the option to extend this period by up to six months.</p>
    
    </article>

  <article class="content">
    <h1>Our Introduction Video</h1>

    <div id="play">
    <div class="video">
      <iframe width="420" height="315" src="//www.youtube.com/embed/0_Qt74bZAOE" frameborder="0" allowfullscreen></iframe>
      </div>
  </div>
  </article>


</section>
